$green-abordo-color: #00584d;
$light-grey-color: #f9f9fa;
$grey-color: #eeeeee;
$header-height: 10vw;
$section-height: 18vw;
$section-height-responsive: 47vw;
$section-info: 750px;
$section-border-radius: 5px;