.section__info {
    display: flex;
    width: $section-info;

    img {
        width: 400px;
    }

    p {
        font-size: 0.8rem;
        width: 650px;
    }
}

@media screen and (max-width: 720px) {
    
    .section__info {
        width: 300px;

        img {
            width: 200px;
        }

        p {
            font: 0.6rem;
            width: 400px;
        }
    }
}