section {

    > div {

        > a {
            
            > h2 {
                display: flex;
                justify-content: center;
                font-size: 1.5rem;
            }
            
            > p {
                display: flex;
                justify-content: center;
                width: 100%;
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    section {

        > div {
    
            > a {
    
                > h2 {
                    display: flex;
                    justify-content: center;
                    font-size: 1.05rem;
                }
    
                > p {
                    width: 100%;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {

    section {

        > div {
    
            > a {
    
                > h2 {
                    display: flex;
                    justify-content: center;
                    font-size: 1.2rem;
                }
    
                > p {
                    width: 100%;
                    font-size: 0.9rem;
                }
            }
        }
    }
}