// Section
.section__info--destinos--br {
    display: flex;
    justify-content: space-between;
    margin-left: 0.5vw;
    margin-right: 0.5vw;

    section {

        img {
            width: 29vw;
        }

        p {
            width: 28vw;
            font-size: 0.9rem;
        }

        h2 {
            font-size: 1.2rem;
        }
    }

    .section__info--buzios {
        margin: 0.35vw;
        margin-top: 20px;
        background: $light-grey-color;
        padding: 15px;
        border-radius: 13px;
        transition: all 300ms ease;

        &:hover {
            transform: scale(1.03);
            transition-delay: 50ms;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        }
    }

    .section__info--amazonas {
        margin: 0.35vw;
        margin-top: 60px;
        background: $grey-color;
        padding: 15px;
        border-radius: 13px;
        transition: all 300ms ease;

        &:hover {
            transform: scale(1.03);
            transition-delay: 50ms;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        }
    }

    .section__info--arraial {
        margin: 0.35vw;
        margin-top: 100px;
        background: $light-grey-color;
        padding: 15px;
        border-radius: 13px;
        transition: all 300ms ease;

        &:hover {
            transform: scale(1.03);
            transition-delay: 50ms;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        } 
    }

    .text__section--br {
        display: flex;
        justify-content: center;
    }
}

// MQ (Media Queries) for Section Brasil
@media screen and (max-width: 1024px) {

    .section__info--destinos--br {
        display: flex;
        justify-content: space-between;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    
        section {
    
            img {
                display: flex;
                justify-content: center;
                width: 26.5vw;
            }
    
            p {
                width: 27vw;
                font-size: 0.6rem;
            }
    
            h2 {
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 720px) {

    .section__info--destinos--br {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    
        section {
    
            img {
                width: 65vw;
            }
    
            p {
                width: 65vw;
                font-size: 0.5rem;
            }
    
            h2 {
                font-size: 1rem;
            }
        }

        .section__info--buzios {
            margin: 0;
            margin-top: 30px;
        }
    
        .section__info--amazonas {
            margin: 0;
            margin-top: 30px;
        }
    
        .section__info--arraial {
            margin: 0;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}